#contato {
    margin-top: 6%;
}

.container-contato {
    width: 100%;
    background-color: #1C1C20;
    height: auto;
    margin-top: 2rem;
}

.container-contato h1 {
    color: #EDEDED;
    font-size: 2rem;
    font-weight: 700;
    margin: 1.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

.container-contato h3 {
    color: #D1BE13;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.875rem;
}

.container-contato h1 img {
    margin-right: 0.5rem;
}

.formulario-contato {
    width: 100%;
    margin-left: 2.5rem;
}

.form-control {
    width: 70%;
    margin-bottom: 0.875rem;
}

.button-container .btn {
    width: 70%;
    margin-bottom: 2.5rem;
    padding: 0.25rem;
}

.social-icons .iconTop img {
    width: 2.5rem;
    margin-right: 0.5rem;
}

.iconTop img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.cont-logo-vw {
    position: relative;
    transform: translate(400%, -120%);
    margin-top: 1rem;
    width: 7.5rem;
}

@media (max-width: 932px) {
    .container-contato h1 {
        padding-left: 1rem;
    }

    .social-icons {
        display: none;
    }

    .cont-logo-vw {
        display: none;
    }

    .formulario-contato {
        margin-left: 0;
        width: 100%;
    }

    .form-control {
        width: 100%;
    }

    .button-container .btn {
        width: 100%;
    }
}