#contato {
    margin-top: 6%;
}

.container-contato {
    width: 100%;
    background-color: var(--azul-black);
    height: auto;
    margin-top: 2rem;
}

.container-contato h1 {
    color: var(--text-color-02);
    font-size: 2rem;
    font-weight: 700;
    margin: 1.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

.container-contato h3 {
    color: var(--amarelo-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.875rem;
}

.container-contato h1 img {
    margin-right: 0.5rem;
}

.formulario-contato {
    width: 100%;
    margin-left: 2.5rem;
}

.form-control {
    width: 70%;
    margin-bottom: 0.875rem;
}

.button-container{
    display: flex;
    justify-content: flex-start;
}

.button-container .btn {
    width: 34%;
    margin-bottom: 2.5rem;
    padding: 0.25rem;
}

.button-container .btn-02 {
    width: 35%;
    margin-left: 8px;
    background-color: #BBC736;
}

.btn-02:hover{
    background-color: var(--text-color-02);
    color: var(--azul-black);
}

.social-icons .iconTop img {
    width: 2.5rem;
    margin-right: 0.5rem;
}

.iconTop img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.cont-logo-vw {
    position: relative;
    transform: translate(400%, -120%);
    margin-top: 1rem;
    width: 7.5rem;
}

.mens-contato{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.container-mens{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.head-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.head-container h1{
    color: var(--amarelo-color);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    padding-top: 2rem;
}

.container-lista{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
}

.list-mens{
    width: 700px;
    max-height: 350px;
    background-color: #fff;
    border: 2px solid var(--amarelo-color);
    border-radius: 16px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.container-btn .btn-03 {
    width: 50%;
    margin-left: 8px;
    margin-top: 14px;
    background-color: var(--amarelo-color);
    color: var(--text-color-02);
}

.btn-03:hover {
    background-color: #BBC736;
    color: var(--text-color-02);
}

.mensagem-item{
    border: 1px solid var(--azul-black);
    border-radius: 16px;
    width: 90%;
    max-height: 75px;
    margin-top: 14px;
    overflow-y: auto;
}

.text-itens{
    font-size: 16px;
    margin-left: 14px;
}

.mensagem-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 932px) {
    .container-contato h1 {
        padding-left: 1rem;
    }

    .social-icons {
        display: none;
    }

    .cont-logo-vw {
        display: none;
    }

    .formulario-contato {
        margin-left: 0;
        width: 100%;
    }

    .form-control {
        width: 100%;
    }

    .button-container .btn {
        width: 100%;
    }

    .list-mens{
        width: 100%;
        max-height: 450px;
        grid-template-columns: repeat(1, 1fr);
    }
    
}