.navbar-wes{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #2C2D2E;
    }
    
    .bar-container{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.625rem;
      margin: 1.25rem;
      background-color: transparent;;
    }
    
    .bar-container .logo img { 
      width : 90%; 
      height: auto;
      margin : 0.25rem;
    }

    .menu-container{
      margin-right: 6rem;
    }

    .menu-container ul {
      list-style-type: none;
      padding: 0;
      margin: 14px;
    }
  
    .menu-container ul li {
      display: inline;
      margin-right: 32px;
      color: #D9D9D9;
      font-size: 18px;
    }

    .menu-container a:hover{
      color: #D1BE13;
    }
  
    .menu-container ul li:last-child {
      margin-right: 0; 
    }

    .nav-link {
      position: relative;
      text-decoration: none;
      color: #aaa;
    }

    .nav-link::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px; /* Distância entre a barra e o texto */
      width: 0;
      height: 2px; /* Altura da barra */
      background-color: #D1BE13; /* Cor da barra */
      transition: width 0.3s; /* Efeito de transição */
  }
  
  .nav-link:hover::after,
  .nav-link.active::after {
      width: 100%; /* Largura total quando o link está sendo hover ou é ativo */
  }
