.projects {
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.projects h1 {
    color: #1C1C20;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

.projects h1 img {
    margin-right: 0.5rem;
}

.projetos-box {
    text-align: center;
    margin-bottom: 2rem;
}

.projetos-box img {
    width: 50%;
    height: auto;
    margin: 0.875rem;
    border-radius: 0.5rem;
}

.desc-projeto p {
    color: #1C1C20;
    font-size: 1.25rem;
}

.desc-projeto h4 {
    color: #1C1C20;
    font-size: 2rem;
}

.project-image img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media (max-width: 932px) {
    .projects h1 {
        padding-left: 1rem;
    }

    .projetos-box {
        width: 50%;
    }

    .projetos-box img {
        width: 80%;
        height: auto;
        margin: 0.875rem;
    }

    .desc-projeto p {
        font-size: 0.875rem;
    }

    .desc-projeto h4 {
        font-size: 1.125rem;
    }
}