.hello {
    font-size: 48px;
    font-weight: 700;
}

.dev {
    font-size: 32px;
}

.conteudo-sobre {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    margin-top: 24px;
}

.conteudo-sobre p {
    margin: 32px;
    font-size: 20px;
    text-align: justify
}

.pic-me img {
    width: auto;
    height: 300px;
    margin: 32px;
}

.button-contato {
    grid-column: span 1;
    text-align: left;
    margin-left: 32px;
}

.btn {
    background-color: #D1BE13;
    color: #EDEDED;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    padding: 0.625rem 1.25rem;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #D4C53A;
    color: #EDEDED;
}

.container-led {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    background-color: #D1BE13;
    overflow: hidden;
}

.text-container-led {
    white-space: nowrap;
    animation: moveText 12s linear infinite;
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.sobre-02 {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
}

.image-group {
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 56px;
    justify-content: center;
}

.image-group img {
    margin: 0 24px;
    width: 250px;
    height: auto;
}

.text-sbr {
    margin: 32px;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 932px) {
    .conteudo-sobre {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .hello{
        font-size: 32px;
    }    

    .dev{
        font-size: 24px;
    }

    .conteudo-sobre p {
        margin: 14px 0;
        text-align: center;
        font-size: 16px;
    }

    .pic-me img {
        margin: 16px 0 0 0;
    }

    .button-contato {
        text-align: center;
        margin-left: 0;
    }

    .image-group {
        align-items: center;
        margin-top: 14px;
    }

    .image-group img {
        margin: 16px;
        width: 30%;
    }

    .text-sbr {
        margin: 16px;
        font-size: 16px;
    }
}