.hello {
    font-size: 3rem;
    font-weight: 700;
}

.dev {
    font-size: 2rem;
}

.conteudo-sobre {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    margin-top: 24px;
}

.conteudo-sobre p {
    margin: 2rem;
    font-size: 1.25rem;
    text-align: justify
}

.pic-me img {
    width: auto;
    height: 300px;
    margin: 2rem;
}

.button-contato {
    grid-column: span 1;
    text-align: left;
    margin-left: 2rem;
}

.btn {
    background-color: #D1BE13;
    color: #EDEDED;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #D4C53A;
    color: #EDEDED;
}

.container-led {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: #D1BE13;
    overflow: hidden;
}

.text-container-led {
    white-space: nowrap;
    animation: moveText 12s linear infinite;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.sobre-02 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.image-group {
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3.5rem;
    justify-content: center;
}

.image-group img {
    margin: 0 1.5rem;
    width: 15.625rem;
    height: auto;
}

.text-sbr {
    margin: 2rem;
    font-size: 1.25rem;
    text-align: center;
}

@media (max-width: 932px) {
    .conteudo-sobre {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .hello{
        font-size: 2rem;
    }    

    .dev{
        font-size: 1.5rem;
    }

    .conteudo-sobre p {
        margin: 0.875rem 0;
        text-align: center;
        font-size: 1rem;
    }

    .pic-me img {
        margin: 1rem 0 0 0;
    }

    .button-contato {
        text-align: center;
        margin-left: 0;
    }

    .image-group {
        align-items: center;
        margin-top: 0.875rem;
    }

    .image-group img {
        margin: 1rem;
        width: 30%;
    }

    .text-sbr {
        margin: 1rem;
        font-size: 1rem;
    }
}