/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

:root{
  --bg-color: #EDEDED;
  --bg-color-02: #2C2D2E;
  --text-color: #0F0F0C;
  --text-color-02: #EDEDED;
  --amarelo-color: #D1BE13;
  --amarelo-00: #D4C53A;
  --azul-black: #1C1C20;
}

body {
  background-color: var(--bg-color);
  font-family: "Glacial indifference", sans-serif;
  color: var(--text-color);
}

hr {
  display: block;
  border: 0;
  border-top: 2px solid #fff;
  margin: 1em 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #1f242d;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1f242d;
  border-radius: 100vw;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

.row {
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}